<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<title>Store-Finder</title>
</head>


<body>
	<!--header-->
	<header>

	</header>

	<!--main-->
	<main>
		<div class="container-flex mx-5">
			<div class="row">
				<h1 class="col-12 text-center">Welcome to Home</h1>

				<hr class="col-12 my-3">
				<!--search-->
				<form class="col-12 row form-inline my-2 my-lg-0" method="get" th:action="@{/stores/search}">
					<div class="col-11 ">
						<input class="form-control" type="search" placeholder="Insert address" aria-label="Search"
							th:field="${search.address}">
					</div>
					<button class="col-auto btn btn-dark btn-outline-light" type="submit">Search</button>
				</form>

				<hr class="col-12 my-3">
				<!--index store-->
				<th:block th:unless="${stores.isEmpty}">
					<table class="col-12 table table-dark table-striped">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Address</th>
								<th scope="col">City</th>
								<th scope="col">Province</th>
								<th scope="col">Cap</th>
								<th scope="col">Latitude</th>
								<th scope="col">Longitude</th>
								<th scope="col">Phone</th>
								<th scope="col">Opening Hours</th>
								<th scope="col">Director ID</th>
								<th scope="col">In Activity</th>
								<th scope="col">Plus Services</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="store : ${stores}">
								<tr>
									<td th:text="${store.id}"></td>
									<td th:text="${store.name}"></td>
									<td th:text="${store.address}"></td>
									<td th:text="${store.city}"></td>
									<td th:text="${store.province}"></td>
									<td th:text="${store.cap}"></td>
									<td th:text="${store.latitude}"></td>
									<td th:text="${store.longitude}"></td>
									<td th:text="${store.phone}"></td>
									<td th:text="${store.openingHours}"></td>
									<td th:text="${store.director}"></td>
									<td th:text="${store.activity}"></td>
									<td th:text="${store.plusService}"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</th:block>
				
				
				
				<!-- to home bottuon-->
				<th:block th:if="${searched}">
					<hr class="col-12 my-3">
					<div class="text-center">
						<a class="col-auto btn btn-dark btn-outline-light" th:href="@{/}">Return to full list</a>
					</div>
				</th:block>
				
			</div>
		</div>
	</main>

	<!--footer-->
	<footer>

	</footer>

	<!-- BOOTSTRAP SCRIPT -->
	<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
</body>

</html>